# FOLDERS
.cloud/*
.storage/*
tts/*
tts_config/*
www/img/*
deps/*

# FILES
._*
.DS_Store
._.DS_Store
.google.token
.HA_VERSION
.homekit.state
.ios.conf
.spotify-token-cache
google_calendars.yaml
home-assistant_v2.db
home-assistant.log
known_devices.yaml
secrets.yaml
